<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>The site</title>
    <link rel="stylesheet" href="../style/reset.css">
    <link rel="stylesheet" href="../style/style.css">
</head>

<body>

    <header class="header-block">
        <div class="wrapper">
            <div class="header-block__logo">
                <a href="#"><img src="../images/logo.jpg" alt="logo" class="header-block__logo_picture"></a>
            </div>
            <nav class="header-block__nav">
                <ul class="header-block__nav_menu">
                    <a href="#">
                        <li class="header-block__nav_item">speakers</li>
                    </a>
                    <a href="#">
                        <li class="header-block__nav_item">programme</li>
                    </a>
                    <a href="#">
                        <li class="header-block__nav_item">social events</li>
                    </a>
                    <a href="#">
                        <li class="header-block__nav_item">contact</li>
                    </a>
                </ul>
            </nav>
            <a href="#"><img src="../images/menuBars.jpg" alt="BarMenu" class="header-block__menuBars"></a>
        </div>
    </header>

    <div class="content">
        <main class="main-block">
            <div class="main-block__header">
                <div class="main-block__header_news">Todays News</div>
                <div class="main-block__header_contactUs">
                    <a href="#"><img src="../images/button.jpg" alt="contact us"></a>
                </div>
            </div>

            <h1 class="main-block__title">Lorem ipsum dolor sit amet, consectetur</h1>
            <p class="main-block__semiTitle">Lorem ipsum dolor sit amet, consectetur adipisicing elit</p>

            <div class="main-block__line"></div>
            <article class="main-block__articles">
                <p class="main-block__articles_article">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto quos nostrum, ratione quidem nobis veritatis sint quasi sapiente odio tempora ab aut, ullam impedit perspiciatis corporis deserunt vel consequatur blanditiis voluptates qui totam modi distinctio. Ullam id quis, error sint quae quisquam tempore quas quos esse dignissimos non similique officiis, placeat in ad delectus odit qui perspiciatis</p>

                <p class="main-block__articles_article">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui excepturi architecto numquam dolores harum dolor libero hic ut suscipit, velit ad amet similique? Nam tempore, veritatis debitis facilis delectus ut itaque? Quae aliquid sed rerum temporibus ducimus numquam, facere sapiente quod dignissimos voluptates.</p>
                <p class="main-block__articles_article">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempora quaerat quod aspernatur consectetur nisi illum officia molestias aliquid ad. Aliquam praesentium quia numquam vel, placeat cum.</p>
            </article>
            <div class="main-block__line"></div>

            <h1 class="main-block__title">Design quality</h1>
            <p class="main-block__semiTitle">Lorem ipsum dolor sit amet, consectetur adipisicing elit</p>

            <article class="main-block__articles">
                <p class="main-block__articles_article">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto quos nostrum, ratione quidem nobis veritatis sint quasi sapiente odio tempora ab aut, ullam impedit perspiciatis corporis deserunt vel consequatur blanditiis voluptates qui totam modi distinctio. Ullam id quis, error sint quae quisquam tempore quas quos esse dignissimos non similique officiis, placeat in ad delectus odit qui</p>

                <p class="main-block__articles_article">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui excepturi architecto numquam dolores harum dolor libero hic ut suscipit, velit ad amet similique? Nam tempore, veritatis debitis facilis delectus ut itaque? Quae aliquid sed rerum temporibus ducimus numquam, facere sapiente quod dignissimos voluptates</p>
                <p class="main-block__articles_article">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempora quaerat quod aspernatur consectetur nisi illum officia molestias aliquid ad. Aliquam praesentium quia numquam vel, placeat cum.</p>
            </article>
        </main>

        <aside class="aside-block">
            <div class="aside-block__content">
                <p class="aside-block__content_title">Lorem ipsum dolor sit amet, consectetur adipisicing elit. In illum repellat, porro!</p>
                <p class="aside-block__content_article">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque eaque at blanditiis voluptatem ad, a modi quos fugit quae provident magni rerum doloribus beatae, sit sunt ipsam minima quisquam, dignissimos nisi voluptate.</p>
            </div>
            <img src="../images/reg.jpg" alt="aside_cover">
        </aside>

    </div>

    <footer class="footer-block">
        <div class="footer-block__content">
            <p class="footer-block__content_title">contact us today</p>
            <p class="footer-block__content_semiTitle">Get in contact with out design team</p>
            <p class="footer-block__content_article">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit, aliquid? Magnam ab esse cum ratione eligendi assumenda fugiat cumque odit et adipisci, aut nihil. Provident aut corporis dolor officiis ut, aliquid</p>
            <a href="#"><img src="../images/button_get.jpg" alt="get_in_touch" class="footer-block__content_button"></a>
            <p class="footer-block__content_text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum libero, nostrum eos</p>
        </div>

    </footer>

</body>

</html>