<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Palo alto</title>
    <link rel="stylesheet" href="../style/reset.css">
    <link rel="stylesheet" href="../style/style.css">
</head>

<body>
    <div class="progress-bar"></div>
    <div class="wrapper">
        <header>
            <a href="#"><img src="../images/logo.png" alt=""></a>
            <nav>
                <ul class="nav__items">
                    <a class="nav__item_inactive item" href="#">
                        <li>Home</li>
                    </a>
                    <a class="nav__item item" href="#">
                        <li>About</li>
                    </a>
                    <a class="nav__item item" href="#">
                        <li>Archive</li>
                    </a>
                    <a class="nav__item item" href="contact.html">
                        <li>Contact</li>
                    </a>
                    <a class="nav__item_inactive item search" href="#">
                        <li></li>
                    </a>
                </ul>
            </nav>
        </header>
        <main>
            <section>
                <article class="article">
                    <div class="article__content">
                        <a href="#" class="article__category">I Do Travel</a>
                        <p class="article__date">Sep 20</p>
                        <h1 class="article__title">No difference how many peaks you reach if there was no pleasure in the climb.</h1>
                        <div class="article__separate sep"></div>
                        <p class="article__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia ipsa atque deleniti nobis optio, aliquid nesciunt voluptatem laboriosam eius at in nam facere, earum ad minus voluptate similique. Nihil velit voluptate saepe ab illum eligendi nemo ipsa dolorem dolor et sequi impedit, voluptas itaque enim consequuntur quod molestias repudiandae debitis earum perspiciatis facere ipsam asperiores excepturi cumque. Reprehenderit laborum voluptatum ut. Doloremque, rerum facilis quae numquam reprehenderit atque veritatis modi voluptatibus voluptatem nobis quam, quia.</p>
                        <div class="article__footer">
                            <button class="article__button">Read more</button>
                            <ul class="article__tags">
                                <a href="#" class="article__tags_tag">
                                    <li>#Yosemite</li>
                                </a>
                                <a href="#" class="article__tags_tag">
                                    <li>#Peak</li>
                                </a>
                                <a href="#" class="article__tags_tag">
                                    <li>#Explorer</li>
                                </a>
                            </ul>
                        </div>
                    </div>
                </article>
                <article class="article">
                    <div class="article__cover">
                        <img src="../images/cover.jpg" alt="cover" class="article__cover_photo">
                        <div class="article__photo_hover">
                            <div class="article__cover_shadow"></div>
                            <button class="article__cover_button"><img src="../images/pin.png" alt=""></button>
                        </div>
                    </div>
                    <div class="article__content">
                        <a href="#" class="article__category">I Do Observe</a>
                        <p class="article__date">Sep 18</p>
                        <h1 class="article__title">You know, I'd rather argue with you, then laugh with anyone else.</h1>
                        <div class="article__separate sep"></div>
                        <p class="article__text_pre">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis debitis rem aut placeat reiciendis recusandae nihil, maxime, illo inventore quia modi distinctio error! Accusantium, tenetur. Autem esse fuga obcaecati mollitia! Consequuntur, illum. Quaerat, quod, voluptas!</p>
                        <p class="article__text">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium optio nulla aliquam ratione, atque labore quos enim assumenda minus repellendus voluptate hic recusandae quasi commodi eos, ipsum nesciunt. Tempora quidem ducimus quisquam odit, reprehenderit facere tenetur enim, ipsam recusandae eos consequatur saepe excepturi repellendus maiores provident aperiam nesciunt iusto quas, mollitia quam itaque. Iure vero magnam, nostrum labore recusandae laudantium modi aliquid, facilis sit saepe sint magni totam ad voluptates cumque obcaecati cum quisquam pariatur cupiditate officiis hic.
                        </p>
                        <p class="article__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Natus accusamus neque deleniti laboriosam illum harum unde illo reiciendis, ratione voluptatum error praesentium nisi blanditiis possimus omnis sint dolores porro. Minus autem fugit recusandae, consequuntur quaerat maxime nostrum quia odit nisi.</p>
                        <div class="article__footer">
                            <button class="article__button">Read more</button>
                            <ul class="article__tags">
                                <a href="#" class="article__tags_tag">
                                    <li>#Yosemite</li>
                                </a>
                                <a href="#" class="article__tags_tag">
                                    <li>#Peak</li>
                                </a>
                                <a href="#" class="article__tags_tag">
                                    <li>#Photo</li>
                                </a>
                            </ul>
                        </div>
                    </div>
                </article>
                <article class="article">
                    <div class="article__content">
                        <a href="#" class="article__category">I Do Reflect</a>
                        <p class="article__date">Sep 11</p>
                        <h1 class="article__title">Democracy means simply the bludgeoning of the people by the people for the people.</h1>
                        <div class="article__separate sep"></div>
                        <p class="article__text">
                            <img src="../images/statue.png" alt="" class="article__text_photo"> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi nam pariatur, necessitatibus quod veniam suscipit nostrum velit similique enim sit. Id eveniet architecto dolorum inventore commodi veritatis sunt a itaque ratione, in repudiandae, dolor rem? Voluptatum ducimus inventore reprehenderit, sint culpa consequatur possimus perferendis enim nam accusamus, velit. Similique dicta, nisi amet placeat! Ea et consequuntur reiciendis quaerat cupiditate, ipsa iusto est totam provident voluptate modi commodi, cum sapiente recusandae, eos aut quidem aliquam quae autem repellat tempora expedita consectetur.
                        </p>
                        <p class="article__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam quidem obcaecati enim optio deserunt sunt facere, tempore eveniet voluptatibus illum mollitia. Vel maiores praesentium minus deleniti. Error, voluptates omnis a et aliquid neque doloremque, in laudantium. Vel et, necessitatibus similique labore assumenda. Optio qui beatae eius, dolore. <a href="#" class="article__text_index">Facilis sunt iure voluptatum officia ut, doloremque, corporis</a> nesciunt voluptate illo provident perferendis minus tempore nulla, molestiae consequuntur. Ea at aspernatur totam accusamus, soluta quas distinctio minima, natus odio vel porro adipisci cupiditate voluptas placeat consequuntur sapiente, recusandae repudiandae dicta et!</p>
                        <p class="article__text_in">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat, quidem amet nam accusamus quae voluptatum dolor esse.</p>
                        <p class="article__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae rem eaque reiciendis et a blanditiis totam mollitia sequi possimus similique doloremque praesentium placeat veritatis obcaecati voluptatibus fugit sapiente reprehenderit vitae fuga, laudantium dolor nemo ipsum quia. Delectus quae sequi repellendus officia, nemo incidunt maxime quasi necessitatibus ex, aspernatur perspiciatis in nobis ipsum illum porro eum perferendis repudiandae eligendi. Aliquid, perferendis?</p>
                        <div class="article__footer">
                            <button class="article__button">Read more</button>
                            <ul class="article__tags">
                                <a href="#" class="article__tags_tag">
                                    <li>#Democracy</li>
                                </a>
                                <a href="#" class="article__tags_tag">
                                    <li>#Introspection</li>
                                </a>
                            </ul>
                        </div>
                    </div>
                </article>
            </section>
        </main>
    </div>
    <footer>
        <div class="footer__content">
            <img src="../images/logo-footer.png" alt="text-picture" class="footer__logo">
            <ul class="footer__menu">
                <a href="#" class="footer__item_inactive item">
                    <li>Home</li>
                </a>
                <a href="#" class="footer__item item">
                    <li>About</li>
                </a>
                <a href="#" class="footer__item item">
                    <li>Archive</li>
                </a>
                <a href="#" class="footer__item item">
                    <li>Contact</li>
                </a>
                <a href="#" class="footer__item item search search_foot">
                    <li></li>
                </a>
            </ul>
            <div class="footer__separate sep"></div>
            <p class="footer__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere sit fugiat, atque, corrupti voluptates saepe id accusantium, praesentium qui quos, dolor perspiciatis? Dignissimos neque molestias velit maiores mollitia.</p>
            <div class="footer__separate_sep2 sep"></div>
            <p class="footer__sign">©2015 - Palo Alto. All Rights Reserved. Designed &amp; Developed by <a href="#" class="footer__sign_name">PixelBuddha Team</a></p>
            <ul class="footer__social">
                <a href="#" class="footer__social_item size">
                    <li><img src="../images/icon-fb.png" alt=""></li>
                </a>
                <a href="#" class="footer__social_item size">
                    <li><img src="../images/icon-tw.png" alt=""></li>
                </a>
                <a href="#" class="footer__social_item size">
                    <li><img src="../images/icon-inst.png" alt=""></li>
                </a>
                <a href="#" class="footer__social_item size">
                    <li><img src="../images/icon-pin.png" alt=""></li>
                </a>
            </ul>
        </div>
    </footer>
</body>

</html>