.wrapper {
    max-width: 1061px;
    margin: 0 auto;
    margin-top: 68px;
}

li.item {
    display: inline;
    font-size: 14px;
    font-family: "Playfair Display";
    color: rgb(98, 98, 98);
    text-transform: uppercase;
    line-height: 1.714;
    padding-left: 95px;
}

.article,
.menu {
    display: inline-block;
    margin-bottom: 46px;
}

.menu {
    float: right;
    padding-top: 7px;
}

.article {
    float: left;
    font-size: 30px;
    font-family: "Inconsolata";
    color: rgb(0, 0, 0);
    text-transform: uppercase;
    line-height: 0.8;
    letter-spacing: 10px;
}

.photomain {
    max-width: 1061px;
    max-height: 509px;
    margin-bottom: 98px;
}

.photodiary {
    display: block;
    font-size: 14px;
    font-family: "Ubuntu";
    color: rgb(180, 173, 158);
    text-transform: uppercase;
    margin-bottom: 30px;
    line-height: 1.2;
}

.right {
    display: inline;
    float: right;
    width: 272px;
}

.left {
    display: inline;
    float: left;
    max-width: 661px;
    position: relative;
}

.title {
    font-size: 30px;
    font-family: "Playfair Display";
    color: rgb(98, 98, 98);
    display: block;
    margin-bottom: 40px;
    line-height: 1.2;
}

.text {
    font-size: 14px;
    font-family: "Playfair Display";
    color: rgb(98, 98, 98);
    line-height: 1.667;
    margin-bottom: 67px;
}

.bold {
    font-weight: 800;
}

.about {
    display: block;
    font-size: 24px;
    font-family: "Playfair Display";
    color: rgb(98, 98, 98);
    line-height: 0.833;
    margin-bottom: 20px;
}

.sidephoto {
    margin-bottom: 13px;
}

.textAbout {
    font-size: 12px;
    font-family: "Playfair Display";
    color: rgb(98, 98, 98);
    line-height: 1.667;
    margin-bottom: 25px;
}

.icon {
    display: inline-block;
    padding-right: 15px;
    margin-bottom: 75px;
}

.top {
    display: block;
    font-size: 14px;
    font-family: "Ubuntu";
    color: rgb(180, 173, 158);
    text-transform: uppercase;
    line-height: 1.2;
    margin-bottom: 37px;
}

li.post {
    color: rgb(180, 173, 158);
    margin-bottom: 30px;
}

.post:last-child {
    margin-bottom: 56px;
}

.name {
    font-size: 16px;
    font-family: "Playfair Display";
    color: rgb(98, 98, 98);
    line-height: 1.2;
    margin-bottom: 17px;
}

.comments {
    font-size: 12px;
    font-family: "Ubuntu";
    color: rgb(180, 173, 158);
    text-transform: uppercase;
    line-height: 1.2;
}

.banner {
    width: 250px;
    height: 250px;
    background-color: rgb(180, 173, 158);
    position: relative;
}

.photoBanner {
    opacity: 0.15;
}

.size {
    display: block;
    position: absolute;
    top: 94px;
    right: 25px;
    font-size: 48px;
    font-family: "Ubuntu";
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    line-height: 1.2;
    font-weight: 100;
}

.bannerSpot {
    font-size: 14px;
    font-family: "Ubuntu";
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    line-height: 1.2;
    position: absolute;
    top: 158px;
    left: 78px;
}

.photo {
    margin-bottom: 50px;
}

.photos:last-child {
    margin-bottom: 60px;
}

.italics {
    padding-left: 21px;
    font-size: 14px;
    font-family: "Playfair Display";
    color: rgb(98, 98, 98);
    font-style: italic;
    line-height: 1.714;
    margin-bottom: 40px;
}

.text2 {
    font-size: 14px;
    font-family: "Playfair Display";
    color: rgb(98, 98, 98);
    line-height: 1.667;
    margin-bottom: 80px;
}

.share {
    display: inline;
    font-size: 13px;
    font-family: "Ubuntu";
    color: rgb(180, 173, 158);
    text-transform: uppercase;
    line-height: 1.846;
    padding-right: 24px;
}

.icon2 {
    display: inline;
    padding-right: 15px;
}

.social {
    float: right;
    padding-left: 50px;
    position: relative;
    right: -96px;
    margin-bottom: 96px;
    padding-bottom: 96px;
}

html {
    position: relative;
    min-height: 100%;
}

footer {
    position: absolute;
    bottom: 0;
    /*    left: 0;*/
    width: 100%;
    height: 96px;
    line-height: 96px;
    background-color: rgb(217, 217, 217);
}

.leftMenu {
    font-size: 14px;
    font-family: "Playfair Display";
    color: rgb(0, 0, 0);
    float: left;
}

.terms,
.privacy {
    padding-left: 18px;
    
}

.follow { 
    font-size: 14px;
    font-family: "Playfair Display";
    color: rgb(0, 0, 0);
    padding-right: 22px;
}

.rightMenu {
    float: right;
}
.wrapper2 {
    max-width: 1061px;
    margin: 0 auto;
}
.icon3 {
    padding-right: 18px;
}
.rightMenu:last-child {
    padding-right: 0px;
}